* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}


/* LAYOUT */


/* Header - Nav */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px 50px;
}

.header__logo-area {
    width: 250px;
    height: 150px;
}


.header__logo-area__logo {
    object-fit: contain;
    width: 100%;
    height: 100%;
}



.nav__links {
    font-weight: bold;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
}

.nav__links a{
    margin: 10px;
    padding: 20px 30px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -8px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: relative;
    background: #2FB14E;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a:hover:after { 
    width: 100%; 
    left: 0; 
}

.nav__links li {
    list-style: none;
    padding-top: 20px;
}

/*.nav__links a:hover {
    border-radius: 45px;
    background-color: #2FB14E;
    color: white;
}*/



/* Footer */

.footer {
    background-color: #0085C7;
    text-align: center;
    color: white;
    padding: 40px;
    font-size: 20px;
}


/* END LAYOUT */


/* PAGES */


/* PAGE -- Home */

.home-main {
    display: block;
}

.page-search {
    display: none;
}


/* Hero */

.home-main__hero {
    width: 100%;
    margin-left: 0;
}

.home-main__hero__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* Intro */

.home-main__intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 30px;
}

.home-main__intro__content-area {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}


.home-main__intro__content-area__image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-width: 400px;
}

.home-main__intro__content-area__text {
    max-width: 600px;
}

.home-main__intro__content-area__text__title {
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-weight: 700;
}

.home-main__intro__content-area__text__snippet {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1px;
    text-align: justify;
}

.home-main__intro__cta {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}


/* Women's Section */

/* .home-main__women {} */

.home-main__women__banner {
    height: 100%;
    width: 100%;
}

.home-main__women__banner__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.link {
    color: rgb(0, 162, 255);
}


/* END PAGE -- Home */


/* PAGE -- Search */

.page-search,
.stats-page {
    display: none;
}

.page-search__main {
    display: flex;
}

.page-search__main__filter-area {
    flex: 1;
}

.page-search__main__filter-area__filter-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 30px;
}

.page-search__main__results-area {
    flex: 2;
}

.page-search__main__results-area__grid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 240px;
    height: fit-content;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    background: #EBEBEB;
    font-size: 16px;
    border-radius: 50px;
    padding: 20px;
}

.card__title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    color: #2FB14E;
}

.card__title::after {
    content: "";
    height: 1px;
    width: 70%;
    background-color: grey;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.card__content {
    color: #8E8D8D;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__read-more button {
    border-radius: 40px;
    border: thin;
    padding: 8px;
    margin-top: 12px;
    background-color: #2FB14E;
    color: white;
    cursor: pointer;
}

.page-search__pop-up {
    text-align: left;
    width: 100%;
    max-width: 300px;
    background: white;
    margin: 10% auto;
    padding:35px;
    position: relative;
    border-radius: 40px;
}

.popupText{
    padding-left: 20px; 
}

.page-search__pop-up-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.page-search__pop-up-close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 1.75rem;
    color: rgb(75, 68, 68);
}


/* FILTERS */

.filter {
    border-radius: 50px;
    background-color: #EBEBEB;
    font-size: 22px;
    padding: 20px;
    margin: 10px 10px;
    display: flex;
    width: 300px;
    justify-content: center;
}

.filter__label {
    margin-right: 10px;
}

.filter__select {
    border: 1px solid white;
    border-radius: 50px;
}

.filter--yellow {
    background-color: #F8AF25;
    color: white;
    font-weight: bold;
}

.filter__select-group {
    display: flex;
    flex-direction: column;
}

.filter__select-group__label {
    padding: 5px 0;
    margin-right: 17px;
    font-size: 20px;
}

.page-search__main__filter-area__filter-group input {
    border: white;
    border-radius: 50px;
    font-size: 20px;
    justify-self: center;
}

#search-bar {
    width: 100%;
}

.filter select {
    border: white;
    border-radius: 50px;
    justify-self: center;
    font-size: 17px;
    width: 200px;
}


/* END PAGE -- Search */


/* Generic Classes */


/* Button */

.button {
    width: 230px;
    height: 80px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #2FB14E;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 20px;
}

.button:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

#womenButton {
    width: 260px;
}

/* Paragraphs */

p {
    text-align: center;
    padding: 30px 70px;
    font-size: 20px;
    line-height: 1.5;
}


/* table */

table {
    border-collapse: inherit;
    width: 80%;
    font-size: 20px;
}



td,
th {
    background: #fff;
    color: #000;
    padding: 15px;
    text-align: left;
}

.stats-page__tableContainer {
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin-bottom: 40px;
}

.stats-page__tableContainer__table td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}

.stats-page__tableContainer__table td:hover {
    background-color: #ddd;
}

td:nth-child(odd) {
    background-color: #f2f2f2;
}

.filter__select-group__gender {
    display: flex;
    flex-direction: row;
}

/* VERSION MOBILE*/

.nav__mobile {
    display: none;
    cursor: pointer;
}

/*Hamburguesa*/
.bar1,
.bar2,
.bar3 {
    width: 43px;
    height: 6px;
    background-color: #333;
    border-radius: 10px;
    margin: 7px 0;
    transition: 0.4s;
}


@media screen and (max-width: 1000px) {
    .header__logo-area__logo {
        width: 90%;
        height: 90%;
    }
    .nav__mobile {
        display: block;
    }
    body {
        overflow-x: hidden;
    }
    .nav__links {
        position: absolute;
        right: 0px;
        height: 73%;
        width: 100%;
        top: 120px;
        background-color: white;
        opacity: 0.945;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav__links a{
        color:black;
        font-size: 25px;
    }
    .nav__links a:hover, a:active {
        font-size: 165%;
        background-color: white;
        color:#2FB14E;
        box-shadow: none;
        transform: translateY(0px);
    }
    .nav__links a:hover:after {
        display: none;
    }
    table {
        font-size: 20px;
    }
    .page-search__main {
        flex-direction: column;
    }
    .page-search__main__filter-area__filter-group {
        flex-flow: row wrap;
        justify-content: space-evenly; 
        align-items: center;
    }
}



@media screen and (max-width: 800px) {
    .home-main__intro {
        flex-direction: column;
    }
    .home-main__intro__content-area {
        margin-bottom: 40px;
    }
}

.nav-active {
    transform: translateX(0%);
}
